/* GENERAL */
body {
	background-color: #F6F6F6;
}
.navigation > a, .navigation ul li a {
	color: #4d4d4d;
}
.btn {
	display: inline-block;
	padding: 20px;
	background-color: #f4eb49;
	text-decoration: none;
	color: #4d4d4d;
	font-weight: 700;
	border: 1px solid #e8e8e8;
}
.btn:hover {
	box-shadow: 0px 5px #4d4d4d;
}
/* HEADERS */
.puma-header {
	height: 100px;
	justify-content: center;
}
/* COLORS TOP */
.puma-topbgcolor {
	background-color: #f4eb49;
}
/* COMPARISON CONTENT */
.comparison-content {
	max-width: 1000px;
	padding: 30px 20px;
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #e8e8e8;
	border-top: none;
	text-align: left;
}
.comparison-content p {
	line-height: 1.5;
}
/* MEDIA QUERIES */
@media screen and (max-width: 353px) {
	.puma-header h2 {
		font-size: 1.3em;
	}
}
@media screen and (min-width: 768px) {
	/* HEADERS */
	.puma-header {
		height: 400px;
	}
	.puma-header h2 {
		font-size: 2em;
	}
	/* COMPARISON CONTENT */
	.comparison-content {
		margin: 0 auto;
	}
}
@media screen and (min-width: 1000px) {
	/* COMPARISON CONTENT */
	.comparison-content {
		padding: 40px;
	}
}