/* GENERAL */
body {
	background-color: #F6F6F6;
}
.btn {
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	border: 1px solid #e8e8e8;
}
.btn:hover {
	box-shadow: 0px 5px #4d4d4d;
}
.human-part h2 {
	margin-top: 40px;
	text-align: center;
}
/* HEADERS */
.header-oncaparda {
	height: 100px;
	color: #f1f1f1;
	justify-content: center;
}
/* COLORS */
.bgcolor-oncaparda {
	background-color: #e5bb31;
}
.bgcolor-ursopolar {
	background-color: #008db1;
}
.bgcolor-ornitorrinco {
	background-color: #008b8b;
}
/* COMPARISON CONTENT */
.comparison-content {
	max-width: 1000px;
	padding: 30px 20px;
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #e8e8e8;
	border-top: none;
	text-align: left;
}
.comparison-content p {
	line-height: 1.5;
}
.introduction {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}
.introduction div:nth-child(1) {
	width: 100%;
}
.introduction div:nth-child(2) {
	width: 100%;
}
.introduction div:nth-child(2) img {
	width: 100%;
	max-width: 500px;
	border: 3px solid #cecece;
}
.topic div img {
	width: 100%;
	max-width: 550px;
	border: 3px solid #cecece;
}
.imgs-part {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.imgs-part img {
	width: 100%;
}
/* MAP */
.map-bodyhuman {
	max-width: 500px;
	flex-direction: row;
	align-items: flex-start;
	margin: 0 auto;
	padding-top: 50px;
	box-sizing: border-box;
}
.map-bodyhuman img {
	margin: 0 auto;
}
/* MEDIA QUERIES */
@media screen and (max-width: 353px) {
	/* HEADERS */
	.header-oncaparda h2 {
		font-size: 1.3em;
	}
	/* COMPARISON CONTENT */
	.map-bodyhuman {
		flex-direction: column;
	}
	.map-bodyhuman img {
		margin: 20px auto 0;
	}
}
@media screen and (min-width: 768px) {
	.human-part h2 {
		margin-top: 0;
	}
	/* HEADERS */
	.header-oncaparda {
		height: 400px;
	}
	.header-oncaparda h2 {
		font-size: 2em;
	}
	/* COMPARISON CONTENT */
	.comparison-content {
		margin: 0 auto;
	}
	/* INTRODUCTION */
	.introduction {
		display: flex;
		flex-direction: row;
	}
	.introduction div:nth-child(1) {
		padding-right: 20px;
	}
}
@media screen and (min-width: 1000px) {
	/* COMPARISON CONTENT */
	.comparison-content {
		padding: 40px;
	}
}